.details {
  width: 70%;
  min-height: 70vh;
  padding: 6rem;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
  }

  &__lists {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    border-radius: 10px;
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    background-color: $color-secondary;

    position: relative;
  }

  &__img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__item {
  }

  &__btn {
    border: none;
    background: none;
    font-size: 1.6rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: $color-primary;

    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  &__price {
    color: $color-primary;

    @include object-center;
    transform: translate(-50%, 500%);
  }
}
