@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translate(-50%, -210%); }
  80% {
    transform: translate(-50%, -160%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -170%); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f3b596;
  font-size: 1.6rem;
  color: #5a3c2c;
  line-height: 1.6;
  position: relative; }

.container {
  max-width: 140rem;
  margin: 4rem auto;
  border-radius: 10px;
  background-color: #fcd2bd;
  overflow: hidden; }

.popup {
  position: fixed;
  top: 0;
  left: 0; }
  .popup__content {
    width: 60vw;
    height: 60vh;
    background-color: #f3b596;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 10; }
  .popup__close {
    border: none;
    background: none;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 3rem; }
  .popup__left {
    height: 100%; }
    .popup__left img {
      height: 100%;
      object-fit: cover; }
  .popup__right {
    padding: 6rem;
    font-size: 2rem; }
  .popup__text {
    margin-top: 2rem; }

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px); }

.details {
  width: 70%;
  min-height: 70vh;
  padding: 6rem; }
  @media only screen and (max-width: 62.5em) {
    .details {
      width: 100%; } }
  .details__lists {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
    grid-gap: 3rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 62.5em) {
      .details__lists {
        grid-template-columns: 1fr; } }
  .details__list {
    border-radius: 10px;
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    background-color: #5a3c2c;
    position: relative; }
  .details__img img {
    width: 100%;
    object-fit: cover; }
  .details__btn {
    border: none;
    background: none;
    font-size: 1.6rem; }
  .details__icon {
    width: 3rem;
    height: 3rem;
    fill: #f3b596;
    position: absolute;
    right: 1rem;
    bottom: 1rem; }
  .details__price {
    color: #f3b596;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, 500%); }

.footer {
  background-color: #5a3c2c;
  height: 15vh;
  width: 100%;
  color: #f3b596;
  display: flex;
  align-items: center;
  justify-content: center; }

.header {
  height: 92vh;
  width: auto;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .header {
      height: 70vh; } }
  @media only screen and (max-width: 50em) {
    .header {
      height: 50vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 30vh; } }
  .header__background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(252, 210, 189, 0.3), rgba(252, 210, 189, 0.3)), url("../img/header.jpg");
    background-size: cover;
    background-position: center; }
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    letter-spacing: 3rem;
    margin-left: 1.5rem;
    transform: translate(-50%, -170%);
    animation: moveInBottom 1.5s ease-out; }
    @media only screen and (max-width: 75em) {
      .header__title {
        transform: translate(-50%, -160%); } }
    @media only screen and (max-width: 62.5em) {
      .header__title {
        transform: translate(-50%, -150%);
        font-size: 6rem; } }
    @media only screen and (max-width: 50em) {
      .header__title {
        transform: translate(-50%, -140%);
        letter-spacing: 2rem;
        margin-left: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__title {
        transform: translate(-50%, -130%);
        letter-spacing: 2rem;
        margin-left: 1rem;
        font-size: 3rem; } }

.nav__lists {
  list-style: none;
  display: flex;
  align-items: start; }
  @media only screen and (max-width: 62.5em) {
    .nav__lists {
      flex-direction: column;
      align-items: center; } }

.nav__list {
  padding: 2rem 4rem;
  transition: all 0.5s; }
  @media only screen and (max-width: 62.5em) {
    .nav__list {
      width: 100%; } }
  .nav__list--last {
    margin-left: auto;
    margin-right: 5vw; }
    @media only screen and (max-width: 62.5em) {
      .nav__list--last {
        margin: 0; } }

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #5a3c2c; }

.nav__icon {
  margin: 0 2rem;
  width: 3rem;
  height: 3rem;
  fill: #5a3c2c; }

.nav__btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .nav__btn {
      margin: 0 auto; } }

.nav__list:hover {
  background-color: #5a3c2c; }

.nav__list:hover .nav__item {
  color: #f3b596; }

.nav__list:hover .nav__icon {
  fill: #f3b596; }
